.input-time-mask {
	display: block;
	color: white;
	background-color: black;
	border: 1px solid white;
	width: 80px;
	text-align: center;
	height: 35px;
	outline: none;
	&.day {
		color: black;
		background-color: white;
		border-color: black;
	}
}
