//theme
body {
	transition: background-color 0.3 linear;
}
.day {
	color: black;
	background-color: #fff;
	.sc-evZas {
		color: black;
	}
}
.night {
	color: white;
	background-color: black;
	.sc-evZas {
		color: white;
	}
}
